
.carouselImg {
  padding: 20px;
  width: 200px;
  height: 200px;
}

.carouselButtons {
  padding: 1em;
  border-radius: 50px;
  display: flex;
  justify-content: center;
}

.buttonContainer {
  padding: 1em;
  display: flex;
}