
.title {
  height: 20vh;
  font-size: 3.7rem;
  font-family: 'avenir-next-light', Arial, Helvetica, sans-serif;
  color: #c9c9c9;
}

.container {
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}