
.title {
  height: 20vh;
  font-size: 3.7rem;
  font-weight: 900;
}

.container {
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}