#portfolio {
  display: grid;
  align-items: center;
  align-self: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}


@media (max-width: 950px) {
  #portfolio {
    grid-template-columns: 1fr;
  }
  #projectListText {
    font-size: 2.4rem;
  }

}