#resume {
  scroll-margin-top: 190px;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  align-self: center;
  background: #7575753a;
  border: solid 1px #b2b2b231;
  border-radius: 20px;
  backdrop-filter: blur(17px);
  -webkit-backdrop-filter: blur(17px);
  box-shadow: 0 8px 32px 10px #0000007e;
  border-radius: 26px;
  padding: 20px;
  margin-bottom: 450px;
}

.resume-text-link {

  align-items: flex-start;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
}

.download-link {

  color: #a6a7ee;
  font-size: 1.4rem;
  font-family: "avenir-next-bold", Arial, Helvetica, sans-serif;
  z-index: 0;
}

.resume-pages {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  align-self: center;
}

#resume-1, #resume-2 {
  margin: 20px;
  height: 100%;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.59);
  border-radius: 2.4%;
}

#resume-text {
  font-family: "avenir-next-light", Arial, Helvetica, sans-serif;
  color: #eaeaea;
}

#resume-1:hover, #resume-2:hover {
  animation: growAnimation 0.354s ease;
}

@keyframes growAnimation {
  from {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  to {
    transform: scale(1.2);
  }
}

/* -------------------------- */

@media (max-width: 1100px) {

  #resume {
    width: 90%;
  }

  #resume-1, #resume-2 {
    margin: 20px;
    height: 400px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.59);
    border-radius: 2.4%;
  }


}
@media (max-width: 550px) {
  #resume {
    flex-direction: column;
  }

  #resume-1, #resume-2 {
    margin: 20px;
    height: 250px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.59);
    border-radius: 2.4%;
    flex-direction: column;
  }

  .resume-pages {
    flex-direction: column;
  }

}
@media (max-width: 850px) and (orientation: landscape){
  .resume-pages {
    flex-direction: row;
  }

  #resume-1, #resume-2 {
    height: 300px;
  }

}
