#resume {
  scroll-margin-top: 240px;
  width: 90%;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: center;
  background: #7575753a;
  backdrop-filter: blur(10px);
  border: solid 1px #dedede3f;
  box-shadow: 0 8px 32px 0 #00000096;
  border-radius: 26px;
  padding: 40px;
  margin-bottom: 450px;
}

.resumeTextLink {
  
  align-items: flex-start;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
}

.downloadLink {
  
  color: #8486ff;
  font-size: 1.4rem;
  font-family: "avenir-next-bold", Arial, Helvetica, sans-serif;
  z-index: 0;
}

.resumePages {
  display: flex;
  
  align-items: center;
  justify-content: center;
  align-content: center;
  align-self: center;
}

#resume1, #resume2 {
  
  height: 250px;
  box-shadow: 0 8px 32px 0 #00000096;
  border-radius: 2.4%;
}

#resumeText {
  
  font-family: "avenir-next-light", Arial, Helvetica, sans-serif;
  color: #eaeaea;
}

#resume1:hover, #resume2:hover {
  transform: scale(1.2);
  transition: transform 0.35s ease-in-out;
}
/* -------------------------- */

@media (max-width: 1100px) {

  #resume {
    width: 90%;
  }

  #resume1, #resume2 {
    margin: 20px;
    height: 250px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.59);
    border-radius: 2.4%;
  }
}

@media (max-width: 860px) {
  #resume {
    flex-direction: column;
  }
  
}
@media (max-width: 550px) {

  #resume1, #resume2 {
    margin: 20px;
    height: 250px;
    box-shadow: 0 8px 32px 0 #00000096;
    border-radius: 2.4%;
    flex-direction: column;
  }

  .resumePages {
    flex-direction: column;
  }

}
@media (max-width: 850px) and (orientation: landscape){
  .resumePages {
    flex-direction: row;
  }

  #resume1, #resume2 {
    height: 300px;
  }

}
