
.aboutContent {
  display: flex;
  justify-content: center;
  background: #111111;
}

#home, .aboutBox {
  height: 100%;

}


.aboutBox {
  width: 60%;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #111111;
  backdrop-filter: blur(10px);
  border: solid 1px #3737373f;
  box-shadow: 0 8px 32px 0 #00000096;
  border-radius: 33px;
}

#aboutTitle {
  padding: 10px;
  font-size: 1.5rem;
  font-family: 'avenir-next-bold', Arial, Helvetica, sans-serif;
  color: #dedede;
}

#aboutText {
  padding: 10px;
  font-family: 'avenir-next-medium', Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  color: #dedede;
}

.connectLinkDiv {
  display: flex;
  justify-content: center;
  color: #b4d6fd;
}

a {
  color: #b4d6fd;
}

a:hover {
  color: #b4d6fd;
}

#connectLink {
  font-family: 'avenir-next-bold', Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: #dedede;

}

@media (max-width: 850px) {
  #aboutText {
    padding: 3%;
    font-family: 'avenir-next-bold', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #dedede;
  }

  #home, .aboutBox {
    max-width: 1200px;
    min-width: 600px;
  }
}
