
#about {
  
}

#aboutContent {

}

.aboutBox {
  padding: 25px;
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
  background: #6c6c6c45;
  backdrop-filter: blur(10px);
  border: solid 1px #dedede3f;
  box-shadow: 0 8px 32px 0 #00000096;
  border-radius: 33px;
}

#aboutTitle {
  padding: 10px;
  font-size: 1.5rem;
  font-family: 'avenir-next-bold', Arial, Helvetica, sans-serif;
  color: #dedede;
}

#aboutText {
  padding: 10px;
  font-family: 'avenir-next-medium', Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  color: #dedede;
}

.connectLinkDiv {
  width: 100%;

  display: flex;
  justify-content: center;
  color: #b4d6fd;
}

a {
  color: #b4d6fd;
}

a:hover {
  color: #b4d6fd;
}

#connectLink {
  font-family: 'avenir-next-bold', Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: #dedede;

}

@media (max-width: 850px) {
  #aboutText {
    padding: 3%;
    font-family: 'avenir-next-bold', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #dedede;
  }
}
