.aboutContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background: #111111;
}

#home,
.aboutBox {
  height: 100%;
  width: 100%;
}

.aboutBox {
  margin: 0 auto;
  width: 100%;
  max-width: 750px;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #111111;
  backdrop-filter: blur(10px);
  border: solid 1px #3737373f;
  box-shadow: 0 8px 32px 0 #00000096;
  border-radius: 33px;
}

#aboutTitle {
  padding: 10px;
  font-size: 2.5rem;
  font-family: 'avenir-next-bold', Arial, Helvetica, sans-serif;
  color: #dedede;
}

#aboutText {
  padding: 10px;
  font-family: 'avenir-next-medium', Arial, Helvetica, sans-serif;
  font-size: 1.9rem;
  color: #dedede;
}

.connectLinkDiv {
  display: flex;
  justify-content: center;
  color: #b4d6fd;
}

a {
  color: #b4d6fd;
}

a:hover {
  color: #b4d6fd;
}

#connectLink {
  font-family: 'avenir-next-bold', Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  color: #559bd1;
}

@media (max-width: 1100px) {
  #home,
  .aboutBox {
    width: 90%;
    max-width: 900px;
  }
  #aboutText {
    padding: 10px;
    font-family: 'avenir-next-medium', Arial, Helvetica, sans-serif;
    color: #dedede;
  }
}
@media (max-width: 850px) {
  #home,
  .aboutBox {
    width: 90%;
    max-width: 900px;
  }
  #aboutText {
    padding: 10px;
    font-family: 'avenir-next-medium', Arial, Helvetica, sans-serif;
    color: #dedede;
  }
}

@media (max-width: 550px) {
  #aboutText {
    font-size: 1.4rem;
  }


}