#about-content {
  width: 90%;
  align-content: center;
}

#about {
  padding: 10px;
}

.about-box {
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
  background: #6c6c6c45;
  backdrop-filter: blur(10px);
  border: solid 1px #dedede3f;
  box-shadow: 0 8px 32px 0 #00000096;
  border-radius: 33px;
}

#about-title {
  padding: 20px;
  font-size: 1.5rem;
  font-family: 'avenir-next-bold', Arial, Helvetica, sans-serif;
  color: #dedede;
}

#about-text {
  padding: 3%;
  font-family: 'avenir-next-bold', Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  color: #dedede;
}

.connect-link-div {
  padding: 20px;
  justify-content: center;
  color: #b4d6fd;
}

a {
  color: #b4d6fd;
}

a:hover {
  color: #b4d6fd;
}

#connect-link {
  font-family: 'avenir-next-bold', Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: #dedede;
  max-width: 100px;
}

@media (max-width: 850px) {
  #about-text {
    padding: 3%;
    font-family: 'avenir-next-bold', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #dedede;
  }
}
