#nav-el {
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  height: 15%;
  width: 90%;
  margin: 0 auto;
  background: #2a2a2a57;
  border: solid 1px #b2b2b231;
  border-radius: 20px;
  backdrop-filter: blur(17px);
  -webkit-backdrop-filter: blur(17px);
  box-shadow: 0 8px 32px 10px #0000007e;
  z-index: 10;
}
.nav {
  height: 74%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  font-family: "avenir-next-bold", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  color: #cfcfcf;
  margin-right: 10px;
  margin-left: 10px;
} 

a:visited {
  color: #cfcfcf;;
}
a:hover {
  color: #5bc3fb;
}

@media (max-width: 500px) {
  .nav {
    font-size: 1.2rem;
  }
}