/* ============================= */
/* Desktop Styles */
/* ============================= */
.navDesktop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  width: 100%;
  margin: 0 auto;
  background: #2a2a2a57;
  border: solid 1px #b2b2b231;
  backdrop-filter: blur(17px);
  -webkit-backdrop-filter: blur(17px);
  box-shadow: 0 8px 32px 10px #0000007e;
  z-index: 10;
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  font-family: 'avenir-next-light', Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  color: #cfcfcf;
}

.icon {
  height: 12px;
  width: 12px;
}

.navItem {
  border-radius: 23px;
  display: flex;
  align-items: center;
  gap: 10px;
}

a {
  display: flex;
  gap: 10px;
  text-decoration: none;
  color: inherit;
}

a:hover {
  cursor: pointer;
  color: #b4d6fd;
}

.menuButton {
  display: none;
}

/* ============================= */
/* Mobile Styles */
/* ============================= */
@media (max-width: 650px) {
  .menuButton {
    display: block;
    position: fixed;
    top: 20%;
    right: 20px;
    z-index: 1001;
    padding: 10px 14px 5px 14px;
    font-size: 32px;
    background: #2a2a2a57;
    border: solid 1px #b2b2b231;
    border-radius: 10px;
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17px);
    box-shadow: 0 8px 32px 10px #0000007e;
    color: #d9d9d9;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }

  .menuButton.active {
    transform: rotate(-90deg);
    background: #d5d5d557;
  }

  .navMobile {
    position: fixed;
    top: 20%;
    right: 4%;
    width: 200px;
    height: 30%;
    border-radius: 15px;
    background: #30303031;
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17px);
    opacity: 0;
    transform: scale(0) translateY(20px);
    transform-origin: top right;
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 1000;
  }

  .navMobile.expanded {
    justify-content: flex-start;
    opacity: 1;
    transform: scale(1) translateY(0);
  }

  .nav {

    padding: 20px;
    flex-direction: column;
    gap: 20px;
  }

  .navItem {
    display: flex;
    text-align: center;
  }
}
