#nav-el {
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  height: 170px;
  width: 90%;
  margin: 0 auto;
  background: #2a2a2a57;
  border: solid 1px #b2b2b231;
  border-radius: 20px;
  backdrop-filter: blur(17px);
  -webkit-backdrop-filter: blur(17px);
  box-shadow: 0 8px 32px 10px #0000007e;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-self: flex-start;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: flex-end;
  height: 60%;
  width: 100%;
  max-width: 1200px;
  font-family: 'avenir-next-light', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #cfcfcf;
  padding: 10px 0;
}

.home-icon,
.docs-icon,
.widgets-icon,
.comm-icon,
.dono-icon,
.home {
  gap: 20px;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

a:visited {
  color: #b4d6fd;
}
a:hover {
  color: #b4d6fd;
}






/* ============================= */
/* Mobile Styles */
/* ============================= */

@media (max-width: 550px) {
  /* Hide normal navbar */
  .nav {
    display: none;
  }
  #nav-el {
    position: fixed;
    top: 11%;
    right: -42%;
    height: 65%;
    width: 50%;
    background: rgba(42, 42, 42, 0.9);
    border-radius: 15px;
    box-shadow: 0 8px 32px 10px rgba(0, 0, 0, 0.5);
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, slide 1.5s ease-in-out ;
    display: flex;
    justify-content: center;
  }

  #nav-el.expanded {
    right: -42%;

    opacity: 1;
  }

  .nav-item {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .menu-button.expanded {
    display: none;
  }
  

  .menu-button {
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 14px;
    padding-right: 14px;
    display: block;
    position: fixed;
    top: 25px;
    right: 20px;
    font-size: 32px;
    background: #2a2a2a57;
    border: solid 1px #b2b2b231;
    border-radius: 10px;
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17px);
    box-shadow: 0 8px 32px 10px #0000007e;
    color: rgb(217, 217, 217);
    cursor: pointer;
    z-index: 1001;
    transition: transform 0.3s ease-in-out;
  }
  
  .menu-button.active {
    transform: rotate(-90deg);
    background: #d5d5d557;
  }



}
