html,
* {
  height: 0 auto;
  width: 0 auto;
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
}

@font-face {
  font-family: "avenir-next-bold";
  src: url(fonts/avenirNext-bold-webfont.woff) format("woff");
  src: url(fonts/avenirNext-bold-webfont.woff2) format("woff2");
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family: "avenir-next-light";
  src: url(fonts/avenirNext-light-webfont.woff) format("woff");
  src: url(fonts/avenirNext-light-webfont.woff2) format("woff2");
  font-weight: light;
  font-style: light;
}
@font-face {
  font-family: "avenir-next-regular";
  src: url(fonts/avenirNext-regular-webfont.woff) format("woff");
  src: url(fonts/avenirNext-regular-webfont.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "avenir-next-bolder";
  src: url(fonts/avenirNext-heavy-webfont.woff) format("woff");
  src: url(fonts/avenirNext-heavy-webfont.woff2) format("woff2");
  font-weight: bolder;
  font-style: bolder;
}
@keyframes gradientAnimation {
  0% { background-position: 100%; }
  50% { background-position: 0%; }
  100% { background-position: 100%; }
}
@-webkit-keyframes gradientAnimation {
  0% { background-position: 100%; }
  50% { background-position: 0%; }
  100% { background-position: 100%; }
}
/* ---------------------------------------- */

html,
body {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: radial-gradient(
      ellipse at bottom,
      #96329614 5%,
      #000000f2 60%
    ),
    linear-gradient(to top, #64009614 10%, transparent 30%),
    linear-gradient(to top, #50009612 20%, transparent 50%),
    linear-gradient(to top, #3c00960d 30%, transparent 70%);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Avenir Next', sans-serif;
  color: #e5e5e5;
}

.light-rays {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(
    to top,
    rgba(255, 0, 255, 0.1) 0%,
    rgba(255, 0, 255, 0.05) 20%,
    transparent 40%
  );
  opacity: 0.5;
  transform-origin: bottom;
  animation: shootingLight 5s infinite alternate ease-in-out;
  pointer-events: none;
  z-index: -1;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  background: radial-gradient(
    circle at bottom,
    rgba(255, 0, 255, 0.05),
    transparent 70%
  );
  pointer-events: none;
  z-index: -2;
}
