#home {
  width: 90%;
  padding: 25px;
  gap: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #111111;
  border: solid 1px #3737373f;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 #00000096;
  border-radius: 33px;
}

#nameText {
  font-family: 'avenir-next-bold', Arial, Helvetica, sans-serif;
  font-size: 160%;
  text-align: center;
  color: #e2e2e2;
}

.nameTextStatement {
  gap: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#brandStatement {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  letter-spacing: 2px;
  font-family: 'avenir-next-light', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #eaeaea;
}

.profilePicture {
  height: 190px;
  width: 190px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.links {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  font-family: 'avenir-next-light', Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  color: #e2e2e2;
  gap: 30px;
}

#emailLink,
#githubLink,
#linkedInLink {
  gap: 11px;
  padding: 5px;
  font-size: small;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

a {
  text-decoration: none;
  color: #e2e2e2;
}

a:visited {
  color: #e2e2e2;
}

a:hover {
  color: #8486ff;
}

@media (max-width: 500px) {
  .links {
    flex-direction: column;
  }

  #brandStatement {
    font-size: 0.8rem;
  }
}
